<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer 1</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% if data == "Real"%}
    <h1> INCORRECT! This is Real </h1>
    <img height="500" src="static/Boxernew-real.png">
    {% endif %}

    {% if data == "Fake"%}
    <h1> CORRECT! This is AI </h1>
    <img height="500" src="static/Blackboxer-AI.jpeg">
    {% endif %}

    
    <a href="/Quiz2"><button>Next</button></a>

</body>
</html>