<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLK Replicah A.I. Guesser</title>
</head>
<body>
    <h1>Black Replicah A.I.</h1>

<p>Select the image that you think is the AI image.</p>

    <form>
        <img height="500" src="static/Boxernew-real.png">
        <img height="500" src="static/Blackboxer-AI.jpeg">
           <input type="checkbox"><br>
          <input type="checkbox"><br>
        <img height="500" src="static/Blkpanther-real.png">
        <img height="500" src="static/Blkpanther-AI.jpeg">
          <input type="checkbox"><br>
          <input type="checkbox"><br>
        <img height="500" src="static/Civilrights-AI.jpeg">
        <img height="500" src="static/Civilrights-Real.png">
          <input type="checkbox"><br>
              <input type="checkbox"><br>
        <img height="500" src="static/Jazz-AI.jpeg">
    <img height="500" src="static/Jazz-Real.png">
    <input type="checkbox"><br>
        <input type="checkbox"><br>
        <img height="500" src="static/nwa-AI.jpeg">
        <img height="500" src="static/Nwa-Real.png">
        <input type="checkbox"><br>
    <input type="checkbox"><br>
        <img height="500" src="static/soul-train-Real.png">
        <img height="500" src="static/soul-train-AI.jpeg">
           <input type="checkbox"><br>
        <input type="checkbox"><br>
    </form>

    <a href="/"><button>RESTART</button></a>
</body>
</html>