<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLK Replicah A.I.</title>
</head>
<body>
    <!--Da home pg-->
<div class="mainSec">
    <h1>BLK Replicah A.I.</h1>
  
<p>WELCOME TO BLK REPLICAH A.I. !,<br> The A.I. website where you look at
   iconic black figures, & photos from 
    black American history to see which photo is the original or a AI replicah.
  </p>

 <h3>Instructions: you will see two photographs that look exactly identical.<br>
    click on the check box under the photo that you think is the A.I. replicah. </h3>

<a href="/Gamepg"><button>START</button></a>
    </div>
</body>
</html>