<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz page 6</title>
</head>
<body>
    <img height="500" src="static/soul-train-AI.jpeg">
    <img height="500" src="static/soul-train-Real.png">
    <form action="/Ans6">
    <input type="checkbox"><br>
          <button type="submit">CHECK</button>
          <input type="checkbox"><br>
        </form>
</body>
</html>